.hero
    background-image: url("../img/hp_bg.jpg")
    background-repeat: no-repeat
    background-position: center

    .hero-main
        max-width: 30em
        margin: auto
        position: absolute
        top: 60%
        left: 50%
        margin-left: -15em

.button-watch-trailer
    margin-top: 2em

.modal

    .overlay ~ *
        min-width: 90%

        @media (min-width: $picnic-breakpoint)
            min-width: 50%

        section
            padding: 0
