.hero
    background-image: url("../img/hp_bg.jpg")
    background-repeat: no-repeat
    background-position: center

    .hero-main
        max-width: 30em
        margin: auto
        position: absolute
        top: 45%
        left: 50%
        margin-left: -15em

.movie-logo
    display: block
    padding: 1em
    max-width: 30em
    margin: 0 auto

.button-watch-trailer
    margin-top: 1em

.modal

    .overlay ~ *
        min-width: 90%

        @media (min-width: $picnic-breakpoint)
            min-width: 50%

        section
            padding: 0

footer
    position: fixed
    bottom: 0

.nca-logo
    padding: 0 .6em .4em .6em
    max-width: 11em
